body {
    background-color: #98d4ff; 
    color: #2c2f54; 
    font-family: "DM Serif Display", serif;
    text-align: center;
    font-size: 30px;
    
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0; 
}

.allura-text {
    font-family: 'Allura', cursive;
    font-size: 50px;
}
.rainfall {
    display: inline-block;
  }
  
  .rainfall span {
    display: inline-block;
    transform: translateY(-20px);
    opacity: 0;
    transition: transform 0.8s ease-out, opacity 0.8s ease-out;
  }
  
  .rainfall:hover span {
    transform: translateY(0);
    opacity: 1;
  }
  
  .rainfall span:nth-child(1) { transition-delay: 0s; }
  .rainfall span:nth-child(2) { transition-delay: 0.1s; }
  .rainfall span:nth-child(3) { transition-delay: 0.2s; }
  .rainfall span:nth-child(4) { transition-delay: 0.3s; }
  .rainfall span:nth-child(5) { transition-delay: 0.4s; }
  .rainfall span:nth-child(6) { transition-delay: 0.5s; }
  .rainfall span:nth-child(7) { transition-delay: 0.6s; }
  .rainfall span:nth-child(8) { transition-delay: 0.7s; }
  .rainfall span:nth-child(9) { transition-delay: 0.8s; }

.slither-text {
    display: inline-block;
    font-family: 'Allura', cursive;
    font-size: 50px;
    transform: translateX(-15px) skewX(-40deg);
    opacity: 0.5;
    transition: transform 1s ease-in-out, opacity 1s ease-in-out;
}


.slither-text:hover {
    transform: translateX(0) skewX(0deg);
    opacity: 1;
}

.link {
    color: #2c2f54; 
    text-decoration: none; 
    font-weight: bold; 
    display: inline-block; 
    transition: transform 0.3s ease, color 0.3s ease, box-shadow 0.3s ease; 
    text-shadow: 4px 4px 6px white;
}


.link:hover {
    transform: scale(1.2); 
    color: #f1a8ff; 
    text-shadow: 0 0 10px #2c2f54;
    transition-duration: 1.5s;
}
