
body {
    background-color: #98d4ff;
    color: #2c2f54;
    font-family: "Allura", cursive;
    text-align: center;
    font-size: 80px;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    overflow: hidden;
}
.artist {
    font-family: "DM Serif Display", serif;
    font-size: 20px;
    color: #291633; 
    text-align: right; 
    width: 100%; 
    padding-right: 52%;
}
footer {
    position: absolute;
    bottom: 0; 
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    text-align: right; 
    width: 100%;
    padding-right: 52%;
    padding-bottom: 8%;


}

footer a{
    font-family: "DM Serif Display", serif;
}
.reset {
    display: inline-block;
    font-size: 15px;
    color: #2c2f54;
    background-color: #ffffff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.reset:hover {
    background-color: #f1a8ff;
    color: #2c2f54;
    transform: scale(1.1);
}